<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1 class="text-center">Productos</h1>
        <div class="card tarjetprod">
            <img src="#" class="card-img-top" id="imgp">
            <div class="card-boy">
                <h2 class="card-title" id="nombrep"></h2>
                <p class="card-text" id="descripcionp"></p>
                <p class="card-text" id="preciop"></p>
                <p class="card-trxt" id="cantidadp"></p>
            </div>

        </div>
    </div>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/verproductos.js"></script>
</body>
</html>